<h1>WELCOME</h1>
<h3>Rock/Paper/Scissors (also known as <em>Janken</em>)is a game played all over the world. </h3>
<h4>Players secretly choose an option from either <strong>Rock</strong>, <strong>Paper</strong> or <strong>Scissors</strong>
 before comparing results and determining the victor! This web-app will you allow you to play this game yourself!</h4>
<div>
  <figure id='rps'><img src="RPS.png"></figure>
  <h2><a href='/play'>CLICK HERE TO PLAY</a></h2>

</div>
