<h1> Someone has made their choice...</h1>
  <h2>Which do you choose?</h2>
  <a id ="rock" href="/play/paper/rock"><img id= "rock "src="/rock.png"></a>
  <a id ="paper" href="play/paper/paper"><img id= "paper"src="/paper.png"></a>
  <a id= "scissors" href="play/paper/scissors"><img id= "scissors" src="scissors.png"></a>
