<h1>Choose <strong>Rock</strong>, <strong>Paper</strong> or <strong>Scissors</strong>

<a href="/play/rock"><img id= "rock "src="/rock.png"></a>
<a href="play/paper"><img id= "paper"src="/paper.png"></a>
<a href="play/scissors"><img id= "scissors" src="scissors.png"></a>
